.product-list {
    width: 100%;
    .top {
      width: 100%;
      border-bottom: 2px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        & > * {
          margin-right: 7px;
          cursor: pointer;
        }
      }
  
      .sort {
          border: none;
        outline: none;
        background: #fff;
        position: relative;
        border: solid 1px #ddd;
        label {
          font-weight: 500;
          margin: 0 5px;
        }
        select{
          width: 100%;
          min-height: 50px;
        text-align: center;
        }
        svg{
          position: absolute;
          top: 15px;
          right:0;
        }
     
        }
      }
      
    .strong{
      font-weight: bold;
      font-size: 16px;
    }

    @media screen and (max-width: 800px) {
      .top {
        flex-direction: column;
        align-items: start;
        padding-bottom: 5px;
      }
      .search {
        width: 100%;
      }
    }
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .site {
    display: flex;
    svg {
      margin-right: 5px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
  }