.pagination {
    list-style: none;
    border-top: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  
    .hidden {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 16px;
      border: solid 1px #ddd;
      &:hover{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  
    li {
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0px 5px;
      &:hover{
        background-color: var(--color-button);
        color: #fff;
      }
    }
    p {
      margin-left: 1rem;
      .page {
        color: var(--color-button);
      }
    }
  }
  .active {
    border: solid 1px #1890ff!important;
    color: #000;
  }