.blog{
.categoryWrapper{
    max-width: 80%;
    display: flex;
margin: auto;
flex-wrap: wrap;
padding-top: 70px;
display: flex;
justify-content: center;
span{
    font-size: 18px;
}

.activeTab{
    font-weight: 900;
    color:#000;
    margin-right: 20px;
   
   }
   .inactiveTab{
       color: #666;
       margin-right: 20px;
   }
.single{
    max-width: 30%;
    margin-right: 30px;
}
}
.pagination{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    .selected{
        a{
        border:solid 1px #1890ff;
    }
    }
    li{
        margin: 0px 5px;
        &:hover{
            background-color: rgb(252 184 0);
            color: #fff;
        }

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            width: 40px;
            height: 40px;
            font-size: 16px;
            border:solid 1px #ddd;
        }
    }

    
.disabled {
    cursor: not-allowed;
     opacity: 0.6;

}
}

}








