.card {
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: hidden;
        width: 100%;
    margin: auto;
    padding: 25px;

}

.header--center {
    display: flex;
    justify-content: center;
    border: solid 1px transparent;
    max-width: 200px;
    width: 100%;
    &:hover {
        border:solid 1px #ddd;
        
    }  
}
