.card {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    max-width: 430px;
    width: 100%;
    margin: auto;
}

.header--center {
    padding-top: 100px;
    min-height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .container {
        @media (min-width: 1200px) {
            min-width: 1230px;
        }
    }
}
