.card {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    max-width: 628px;
    width: 100%;
    margin: auto;
    padding: 50px;
}

.header--center {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .container {
        @media (min-width: 1200px) {
            min-width: 1230px;
        }
    }
}
