.product{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    padding-bottom: 90px;
}
.content{
    max-width: 75%;
    width: 100%;
    @media screen and (max-width: 991px) {
        max-width: 100%;
         }
}
.filter {
    max-width: 20%;
    width: 100%;
    @media screen and (max-width: 991px) {
       display: none;
        }
}