.HomeTenthhSection {
    margin-top: 100px;
    margin-bottom: 80px;
    @media (max-width: 992px){
        margin-bottom: 80px;

              }
    .row{
        display: flex;
        @media (max-width: 992px){
         flex-direction: column;
                  }
    .col_8{
        max-width: 66%;
        margin: 1%;
        @media (max-width: 992px){
            max-width: 100%;
            width: 100%;
            margin: 0 0 50px 0px;
                  }
    }
    .col_4{
        max-width: 30%;
        margin: 1%;
        @media (max-width: 992px){
            max-width: 100%;
            width: 100%;
            margin: 0;
                  }
    }
    img {
        height: 100%;
        object-fit: cover;
        @media (max-width: 992px){
            max-width: 100%;
            width: 100%;

                  }
    }
}
}