.ThirdSection {
    padding: 30px 30px 0;

    &__toptext {
        margin-bottom: 65px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

        .left {
            h3 {
                margin-bottom: 0;
                font-size: 24px;
                font-weight: 400;
                margin-right: 70px;
            }
        }

        .right {
            a {
                display: inline-block;
                padding-bottom: 2px;
                color: #000;
                border-bottom: 1px solid #000;
                min-width: 60px;

                &:hover {
                    color: #fcb800;
                    border-color: #fcb800;
                }
            }
        }
    }
}

.ThirdSectionContainer {
    display: flex;
    width: 100%;



        .product__wrapper__image {
            margin-right: 9px;
            overflow: hidden;
            position: relative;

            .link{
                display: block;
                color: inherit;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        .product {
            padding-right: 10px;
            position: relative;
        
            &:hover .list-actions {
                transition: 0.5s;
                transform: translateY(-59px);
            }
        
            .list-actions {
                display: flex;
                justify-content: space-around;
                position: absolute;
                align-items: center;
                height: 50px;
                background-color: #fff;
                width: 100%;
                transform: translateY(50px);
                 li a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    &:hover{
                        background-color: #fcb800;
                        color: #fff;
                    }
             }
            }
        
        .product__wrapper__text {
            padding-top: 10px;
 
            .globalstore {
                display: block;
                padding-bottom: 8px;
                margin-bottom: 13px;
                line-height: 1.2;
                font-size: 12px;
                color: #000;
                text-transform: uppercase;
                border-bottom: 1px solid #e1e1e1;
            }

            .price {
                color: #690;
                font-size: 18px;
                font-weight: 600;
            }
            .link{
                margin: 0;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    color: #06c;
    overflow: hidden;
    padding: 0 1rem 5px 0;
    &:hover{
            color: #fcb800;
    }
            }
     
.sold{
 
    &__bar{
        margin-bottom: 5px;
        position: relative;
        display: block;
        height: 11px;
        background-color: #e4e4e4;
        margin-top: 15px;
        span{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #fcb800;
            height: 10px;
            width: 92%;
        }
    }
}
            
        }
    }
    
    .slick-slider {
        width: 100%;
        @media (max-width: 500px)
        {
        
       
            .slick-slide img {
                display: block;
                max-width: 75%;
                margin: auto;
            }
       }
       
       
   

        .slick-track {
            display: flex;
        }
    }
}

.slick-dots li button:before {
    display: block;
    padding: 0;
    font-size: 0;
    border-radius: 0;
    border: none;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    background-color: #fcb800;
}

.slick-dots li button:hover:before {
    background-color: #fcb800;
    opacity: 1;
}
