.NinethSection{
@media (max-width: 1680px){
    padding: 0 30px;
    max-width: 100%;
}
}

.NinethSection__TopInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #e3e3e3;
    @media (max-width: 992px){
    flex-direction: column;
    align-items: start;
    }

    .NinethSection__TopInfo--sectionname {
      .NinethSection__TopInfo--sectionname-h3 {
        margin-bottom: 0;
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
      }
    }
  
    .NinethSection__TopInfo--Tabs {
      display: flex;
      @media (max-width: 768px){
        flex-wrap: wrap;
        }
      a {
        color: #666;
        text-decoration: none;
        @media (max-width: 768px){
        max-width: 40%;
        width: 100%;
        padding: 20px 0px;
          }
        @media (max-width: 560px){
        max-width: 50%;

          }
        @media (max-width: 460px){
        max-width: 100%;

          }
  
        &:hover {
          color: #fcb800;
        }
      }
  
      .nametab {
        padding-right: 10px;
      }
    }
  }
  
  .NinethSection__Bottom--content {
    padding-top: 55px;
  
    .productwrapper {
      display: flex;
      flex-wrap: wrap;
  
      .singleproductwrapper {
        max-width: 25%;
        display: flex;
        margin-bottom: 30px;
        padding-right: 15px;
        width: 100%;
        @media (max-width: 1200px){
          max-width: 33%;
      }
        @media (max-width: 992px){
max-width: 50%;
      }
        @media (max-width: 600px){
max-width: 100%;
      }

        .Image {
          max-width: 100px;
          width: 100%;
        }
  
        .text {
          width: 100%;
          padding-left: 20px;
  
          .titlewrapper {
            a {
              margin: 0;
              padding: 0 0 5px;
              font-size: 14px;
              line-height: 1.2em;
              color: #06c;
  
              &:hover {
                color: #fcb800;
              }
            }
          }
       
  
          .prizewrapper {
            p {
              font-size: 16px;
              color: #000;
            }
          }
        }
      }
    }
  }
  