.HomeNewsletter {
    padding: 65px 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  
    @media (max-width: 1680px){
        padding: 65px 30px;
        max-width: 100%;
    }

    .row {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1200px){
        flex-direction: column;
      }
  
      .column-5-12 {
        max-width: 42.5%;
        width: 100%;
        @media (max-width: 1200px){
          max-width: 100%;
          padding-bottom: 20px;;
        }
    
      }

  
      .column-7-12 {
        max-width: 57.5%;
        width: 100%;
        @media (max-width: 1200px){
          max-width: 100%;
        }
      }
     
    }
  
    .form--right__input {
      display: flex;
      flex-wrap: nowrap;
  
      .form-control {
        outline: none;
        font-size: 14px;
        padding: 0 20px;
        height: 50px;
        background-color: transparent;
        border: 1px solid #ddd;
        transition: all 0.4s ease;
        box-shadow: 0 0 0 #000;
        border-radius: 4px 0 0 4px;
        border-color: #ccc;
        border-right: none;
        width: 100%;
      }
  
      .button {
        border-radius: 0 4px 4px 0;
        padding-left: 25px;
        padding-right: 25px;
        display: inline-block;
        padding: 15px 45px;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        border: none;
        font-weight: 600;
        border-radius: 4px;
        background-color: #fcb800;
        transition: all 0.4s ease;
        cursor: pointer;
      }
    }
  }
  