.card {
 position: relative;
    .listActions{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px 0px;
       position: absolute;
       width: 100%;
       transform: translateY(30px);
   }
   &:hover{
       .listActions{
        transform: translateY(-92px);
        background: #fff;
        transition: 0.4s;
       }
   }

}

.productItemImage{
    width: 100px;
}
.productTitle
{   display: block;
    font-size: 14px;
    color: #097cf0;
    overflow: hidden;
    padding: 5px 0px;
}


.price{
font-size: 18px;
font-weight: bold;
}
.category{
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;

}

.list{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
    .img{
        min-width: 10%;
    }
    .content {
        max-width: 70%;
    }
    .details{
        .price{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .ctaparent{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            a {
                display: flex;
                justify-content: space-around;
                svg {
                    margin-right: 5px;
                }
            }
        }
        }
    }
