.card {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    @media screen and (max-width: 1680px) {
    width: 20%;
    }
    @media screen and (max-width: 1440px) {
    width: 25%;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
        border: solid 1px #ddd;
        max-width: 31%;
        margin: 20px 0px;
    }
    @media screen and (max-width: 768px) {
        max-width: 48%;
        position: relative;
    }
    @media screen and (max-width: 768px) {
        max-width: 100%;
     
    }
    .img{
     @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}
    .listActions{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 5px 0px;
       position: absolute;
       width: 100%;
       transform: translateY(100px);
       @media screen and (max-width: 768px) {
        width: 90%;
        transform: translateY(-65px);
        background-color: #fff;
        border: solid 1px #ddd;
        padding: 10px;
    }
   }
   &:hover{
    border: solid 1px grey;
       .listActions{
        transform: translateY(-114px);
        background: #fff;
        transition: 0.4s;
       }
   }

}

.productItemImage{
    width: 150px;
}




.content {
    position: relative;
    @media screen and (max-width: 768px) {
        position: static;    
    }
     .details{
        @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        }
        .category{
            border-bottom: solid 1px #ddd;
            padding-bottom: 5px;
        
        }
        .productTitle
{ 

    display: block;
    font-size: 14px;
    color: #06c;
    overflow: hidden;
font-weight: 400;
margin-bottom: 10px;
}
.price{
    font-size: 18px;
    position: relative;
        font-size: 16px;
        color: #000;
        font-weight: 400;
    }
    

}


.list{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;


        
        .ctaparent{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            a {
                display: flex;
                justify-content: space-around;

                svg {
                    margin-right: 5px;
                }
            }
        }
        }
    }
    .FaStar{
        color: #fcb800;
      width: 20px;
    }
    .CiStar{
          font-size: 20px;
          width: 20px;
    }