.search {
    margin: 5px 0;
    position: relative;
    display: flex;
 
    .searchBar{
      position: relative;
    }
    .suggestion{
      background: #fff;
      position: absolute;
      width: 100%;
      z-index: 11;
      display: flex;
      .suggestionImage{
        max-width: 150px;
        padding-right: 5px;
        object-fit: contain;
      }
    }
  
    .icon {
      position: absolute;
      top: 30%;
      left: 1px;
      z-index: 1;
    }
  
    input[type="text"] {
      display: block;
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    z-index: 2;
    padding-left: 25px;
    }
  }