.search {
    margin: 5px 0;
    position: relative;
    display: flex;
 
    .searchBar{
      position: relative;
    }
    .suggestion{
      background: #fff;
      position: absolute;
      width: 100%;
      z-index: 11;
      display: flex;
      .suggestionImage{
        max-width: 150px;
        padding-right: 5px;
        object-fit: contain;
      }
    }
  
    .icon {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
  
    input[type="text"] {
      display: block;
      width: 100%;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
    }
  }