.admin {
    display: flex;
    padding: 30px 30px;
    background-color: #f1f1f1;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
       }
    
    .navbar {
      width: 25%;
      height: 100%;
      background-color: #fff;
      margin-bottom: 100px;
      @media screen and (max-width: 768px) {
        width: 100%;
         }
     
    }
    .content {
      width: 75%;
      margin-left: 20px;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        width: 100%;
         }
    }
  }
  
  .list {
    display: flex;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #d1d1d1;
    align-items: center;
    &:hover{
      background-color:#fcb800;
    }
    svg{
      margin-right: 10px;
    }
  }