
.breadcrumb{
    padding: 20px 0;
    background-color: #f1f1f1;
    .container {
        width: 100%;
        padding: 0px 40px;
    }

}

.active{

    line-height: 20px;
    color: inherit;
}
.NormalLink {

    line-height: 20px;
    color: #09c;
}
.space{
    padding: 0px 3px;
}

